body {
    background-color: #333; /* Fundo cinza escuro para contraste */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#meu-livro {
    width: 800px;
    height: 600px;
}

#meu-livro .turn-page {
    background-color: #fdfdfd; /* Páginas brancas */
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

#meu-livro .hard {
    background-color: #000; /* Capa preta */
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sombra que o Turn.js usa para dar profundidade */
#meu-livro .shadow{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABaAAAAAggCAYAAADeDC1sAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAV0lEQVR42u3BMQEAAADCoPVPbQ0PoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADg3gC9AAAA6VI5WwAAAABJRU5ErkJggg==);
}
